@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}
<div class="feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 feature-col">
                <div class="feature-content">
                    <div class="policy-section">
                        <i class="fab fa-cc-mastercard"></i>
                        <h2>Payment Policy</h2>
                        <p>
                            We accept various payment methods to provide convenience to our customers. These methods include credit card payments, PayPal, and bank transfers. Your payment information is processed securely and is not stored on our servers. We prioritize the security of your financial information and ensure that all transactions are encrypted for your protection.
                        </p>
                    </div>
                    <br />
                    <div class="policy-section">
                        <i class="fas fa-truck"></i>
                        <h2>Shipping Policy</h2>
                        <p>
                            We strive to deliver your orders promptly and efficiently. Our shipping partners are carefully chosen to ensure reliable delivery services. Shipping costs and delivery times may vary depending on your location and the selected shipping method. You will receive a confirmation email with tracking information once your order has been dispatched. We aim to provide transparent communication regarding the status of your shipment throughout the delivery process.
                        </p>
                    </div>
                    <br />
                    <div class="policy-section">
                        <i class="fa fa-sync-alt"></i>
                        <h2>Return Policy</h2>
                        <p>
                            Customer satisfaction is our priority, and we want you to be happy with your purchase. If for any reason you are not completely satisfied with your order, you may return it within [number of days] days of receiving it for a full refund or exchange. Please ensure that the item is returned in its original condition with all tags and packaging intact. Return shipping costs are the responsibility of the customer unless the return is due to a defect or error on our part.
                        </p>
                    </div>
                    <br />
                    <div class="policy-section">
                        <i class="fa fa-user-secret"></i>
                        <h2>Privacy Policy</h2>
                        <p>
                            Protecting your privacy and personal information is fundamental to our business practices. We collect only the necessary information required to process your orders and provide you with excellent service. This may include your name, contact details, shipping address, and payment information. Rest assured that we do not share or sell your personal information to third parties for marketing purposes. We utilize industry-standard security measures to safeguard your data against unauthorized access, alteration, or disclosure.

                            By using our website and services, you agree to accept the terms outlined in our Payment, Shipping, Return, and Privacy Policy. We reserve the right to update or modify this policy at any time, and any changes will be reflected on this page.

                            If you have any questions or concerns regarding our policies, please don't hesitate to contact us.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
