@model List<ResultCategory>
<div class="col-md-3">
    <nav class="navbar bg-light">
        <ul class="navbar-nav">
            @foreach (var item in Model)
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Products?categoryName=@item.CategoryName"><i class="@item.CategoryIcon"></i>@item.CategoryName</a>
                </li>
            }
        </ul>
    </nav>
</div>
