@model CreateSlider
@{
    ViewData["Title"] = "CreateSlider";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-secondary rounded ">
        <div class="col-md-12">
            <div class="col-sm-12 col-xl-12">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Create Slider</h6>
                    <p class="card-subtitle mb-4">Please fill in the information about the vehicle completely.</p>
                    <form method="post">
                        <div class="mb-3">
                            <label for="exampleInputSliderTitle" class="form-label">Slider Title</label>
                            <input type="text" class="form-control" id="exampleInputSliderTitle" asp-for="SliderTitle" aria-describedby="sliderTitle">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputSliderSubtitle" class="form-label">Slider Subtitle</label>
                            <input type="text" class="form-control" id="exampleInputSliderSubtitle" asp-for="SliderSubtitle" aria-describedby="sliderSubtitle">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputSliderTargetUrl" class="form-label">Slider Target Url</label>
                            <input type="text" class="form-control" id="exampleInputSliderTargetUrl" asp-for="SliderTargetUrl" aria-describedby="sliderTargetUrl">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleInputSliderActive" asp-for="SliderActive">
                            <label class="form-check-label" for="exampleInputSliderActive">Slider Active</label>
                        </div>
                        <button type="submit" class="btn btn-success">Create Slider</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

