@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="cart-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-page-inner">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody class="align-middle">
                                <!-- Ürünler burada listelenecek -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cart-summary">
                                <div class="cart-content">
                                    <h1>Cart Summary</h1>
                                    <p>Sub Total<span>$0</span></p>
                                    <p>Shipping Cost<span>$10</span></p>
                                    <h2>Grand Total<span>$1</span></h2>
                                </div>
                                <div class="cart-btn">
                                    <button class="btn clear-cart">Clear Cart</button>
                                    <button id="checkoutButton" class="btn checkoutt-btn">Checkout</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('checkoutButton').addEventListener('click', function () {
        var cartItems = localStorage.getItem('cartItems');

        if (cartItems && JSON.parse(cartItems).length > 0) {
            window.location.href = '/Cart/Checkout';
        } else {
            window.location.href = '/Products/Index';
        }
    });

</script>
<script src="~/EStore/js/cart/cart.js"></script>




