@model List<ResultSliderWithImages>
<div class="col-md-6">
    <div class="header-slider normal-slider">
        @foreach (var item in Model)
        {
            <div class="header-slider-item">
                <img src="@item.ImagePath" alt="@item.SliderSubtitle" width="685" height="400"/>
                <div class="header-slider-caption">
                    <p>@item.SliderTitle</p>
                    <a class="btn" href="@item.SliderTargetUrl"><i class="fa fa-shopping-cart"></i>Shop Now</a>
                </div>
            </div>
        }
    </div>
</div>
