@model CreateSliderImage
@{
    ViewData["Title"] = "CreateSliderImage";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-secondary rounded ">
        <div class="col-md-12">
            <div class="col-sm-12 col-xl-12">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Create Slider Image</h6>
                    <p class="card-subtitle mb-4">Please fill in the information about the slider image completely.</p>
                    <form asp-controller="AdminSliderImage" asp-action="CreateSliderImage" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="file">Select Image File:</label>
                            <input type="file" name="FormFile" id="file" class="form-control bg-dark" />
                        </div>
                        <div class="mb-3">
                            <input type="hidden" name="SliderId" id="sliderId" value="@TempData["SliderId"]" />
                        </div>

                        <button type="submit" class="btn btn-primary">Upload Slider Image</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

