@model List<ResultReviewWithImages>
<div class="review">
    <div class="container-fluid">
        <div class="row align-items-center review-slider normal-slider">
            @foreach (var item in Model)
            {
                <div class="col-md-6">
                    <div class="review-slider-item">
                        <div class="review-img">
                            <img src="@item.ImagePath" alt="Image">
                        </div>
                        <div class="review-text">
                            <h2>@item.ReviewerName</h2>
                            <h3>@item.ReviewTitle</h3>
                            <p>
                                @item.ReviewComment
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
