@model ResultAnnouncement
@{
    ViewData["Title"] = "UpdateAnnouncement";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-secondary rounded ">
        <div class="col-md-12">
            <div class="col-sm-12 col-xl-12">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Create Announcement</h6>
                    <p class="card-subtitle mb-4">Please fill in the information announcement the vehicle completely.</p>
                    <form method="post">
                        <input type="hidden" asp-for="Id" />
                        <div class="mb-3">
                            <label for="exampleInputAnnouncementTitle" class="form-label">Announcement Title</label>
                            <input type="text" class="form-control" id="exampleInputAnnouncementTitle" asp-for="Title" aria-describedby="AnnouncementTitle">
                        </div>
                        <button type="submit" class="btn btn-success">Update Announcement</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

