@model ResultProduct
<div class="product">
    <div class="section-header">
        <h1>Related Products</h1>
    </div>

    <div class="row align-items-center product-slider product-slider-3">
        @foreach (var item in Model.Products)
        {
            <div class="col-lg-3">
                <div class="product-item">
                    <div class="product-title">
                        <a href="/ProductDetail/Index/@item.Id/">@item.ProductName</a>
                    </div>
                    <div class="product-image">
                        <a href="product-detail.html">
                            <img src="@item.CoverImagePath" alt="Product Image">
                        </a>
                        <div class="product-action">
                            <a href="#"><i class="fa fa-heart"></i></a>
                            <a href="/ProductDetail/Index/@item.Id/"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="product-price">
                        <h3><span>$</span>@item.Price</h3>
                        <a class="btn" href="/ProductDetail/Index/@item.Id/"><i class="fa fa-search"></i>Go Detail</a>
                    </div>
                </div>
            </div>

        }
    </div>
</div>
