@model ResultAbout
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-secondary rounded ">
        <div class="col-md-12">
            <div class="col-sm-12 col-xl-12">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Create About</h6>
                    <p class="card-subtitle mb-4">Please fill in the information about the vehicle completely.</p>
                    <form method="post">
                        <input type="hidden" asp-for="Id" />
                        <div class="mb-3">
                            <label for="exampleInputAboutTitle" class="form-label">About Title</label>
                            <input type="text" class="form-control" id="exampleInputAboutTitle" asp-for="AboutTitle" aria-describedby="AboutTitle">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputAboutDescription" class="form-label">About Description</label>
                            <textarea class="form-control" id="exampleInputAboutDescription" asp-for="AboutDescription" aria-describedby="AboutDescription"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputAboutIcon" class="form-label">About Icon</label>
                            <input type="text" class="form-control" id="exampleInputAboutIcon" asp-for="AboutIcon" aria-describedby="AboutIcon">
                        </div>
                        <button type="submit" class="btn btn-success">Create About</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

