@model List<ResultBrandWithImages>
<div class="brand">
    <div class="container-fluid">
        <div class="brand-slider">
            @foreach (var item in Model)
            {
                <div class="brand-item"><img width="150" height="80" src="@item.ImagePath" alt=""></div>
            }
        </div>
    </div>
</div>
