@model List<ResultBrand>
<div class="sidebar-widget brands">
    <h2 class="title">Brands</h2>
    <ul>
        @foreach (var item in Model)
        {
            <li><a href="#">@item.BrandName</a></li>
        }
      
    </ul>
</div>