@model List<ResultBrand>
<div class="sidebar-widget brands">
    <h2 class="title">Brands</h2>
    <ul>
        @foreach (var item in Model)
        {
            <li><a href="@Url.Action("Index", new { brandName = @item.BrandName})">@item.BrandName</a></li>
        }
      
    </ul>
</div>