@model List<ResultAddress>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<!-- My Account Start -->
<div class="my-account">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" id="dashboard-nav" href="/Account/UserDashboard/Index" role="tab"><i class="fa fa-tachometer-alt"></i>Dashboard</a>
                    <a class="nav-link" id="orders-nav" href="/Account/UserOrder/Index" role="tab"><i class="fa fa-shopping-bag"></i>Orders</a>
                    <a class="nav-link active" id="address-nav" data-toggle="pill" href="/Account/UserAddress/Index" role="tab" aria-controls="address-tab" aria-selected="true"><i class="fa fa-map-marker-alt"></i>Address</a>
                    <a class="nav-link" id="account-nav" href="/Account/UserAccountDetail/Index" role="tab"><i class="fa fa-user"></i>Account Details</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="address-tab" role="tabpanel" aria-labelledby="address-nav">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Address Title</th>
                                        <th>Address Detail</th>
                                        <th>Address City/District</th>
                                        <th>Update</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.AddressTitle</td>
                                            <td>@item.Detail</td>
                                            <td>@item.City/@item.District</td>
                                            <td><a class="btn" href="/Account/UserAddress/UpdateAddress/@item.Id">Update</a></td>
                                            <td><a class="btn" href="/Account/UserAddress/RemoveAddress/@item.Id">Remove</a></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <center><a type="button" class="btn btn-primary" href="/Account/UserAddress/CreateAddress">Ekle</a></center>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- My Account End -->

