@model List<ResultAnnouncement>
<!-- Top bar Start -->
<div class="top-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="announcement-container">
                @foreach (var announcement in Model)
                {
                    <div class="announcement" >

                        <i class="fa fa-bullhorn"></i>@announcement.Title
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Top bar End -->
<!-- Nav Bar Start -->
<div class="nav">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a href="/Default/Index/" class="nav-item nav-link">Home</a>
                    <a href="/Products/Index/" class="nav-item nav-link">All Products</a>
                    <a href="/Products/Index/Men/" class="nav-item nav-link">Men</a>
                    <a href="/Products/Index/Women/" class="nav-item nav-link">Women</a>
                    <a href="/Products/Index/Kids/" class="nav-item nav-link">Kids & Women</a>
                    <a href="/Policies/Index/" class="nav-item nav-link">Policies</a>
                    <a href="/About/Index/" class="nav-item nav-link">About</a>
                    <a href="/Contact/Index/" class="nav-item nav-link">Contact</a>
                   
                </div>
                <div class="navbar-nav ml-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Login or Register</a>
                        <div class="dropdown-menu">
                            <a href="/Login/Index/" class="dropdown-item">Login</a>
                            <a href="/Register/Index/" class="dropdown-item">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Nav Bar End --> 
<!--Script for Announcement Start -->
<script>
    var announcements = document.querySelectorAll('.announcement');
    var index = 0;
    for (var i = 1; i < announcements.length; i++) {
        announcements[i].style.display = 'none';
    }
    setInterval(function () {
        announcements[index].style.display = 'none';
        index++;
        if (index >= announcements.length) {
            index = 0;
        }
        announcements[index].style.display = 'block';
    }, 5000);
</script>
<!--Script for Announcement End -->
