@model PasswordUpdate
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="my-account">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" id="dashboard-nav" href="/Account/UserDashboard/Index" role="tab"><i class="fa fa-tachometer-alt"></i>Dashboard</a>
                    <a class="nav-link" id="orders-nav" href="/Account/UserOrder/Index" role="tab"><i class="fa fa-shopping-bag"></i>Orders</a>
                    <a class="nav-link" id="address-nav" href="/Account/UserAddress/Index" role="tab"><i class="fa fa-map-marker-alt"></i>Address</a>
                    <a class="nav-link active" id="account-nav" href="/Account/UserAccountDetail/Index" role="tab"><i class="fa fa-user"></i>Account Details</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
                        <form method="post">
                        <h4>Password change</h4>
                        <div class="row">
                            <div class="col-md-6">
                                    <label for="firstName" class="form-label">New Password</label>
                                    <input type="password" class="form-control" id="Password" asp-for="Password">
                                
                            </div>
                            <div class="col-md-6">
                                    <label for="firstName" class="form-label">Confirm Password</label>
                                    <input type="password" class="form-control" id="PasswordConfrim" asp-for="PasswordConfrim">
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn">Save Changes</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
