@using EStore.Dto.Worker
@model UpdateUserRole

@{
    ViewData["Title"] = "UpdateUser";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-secondary rounded ">
        <div class="col-md-12">
            <div class="col-sm-12 col-xl-12">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Update User Role</h6>
                    <p class="card-subtitle mb-4">Please fill in the information worker the vehicle completely.</p>
                    <form method="post">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Username">
                        <div class="mb-3">
                            <label for="exampleInputRole" class="form-label">Role</label>
                            @Html.DropDownListFor(x => x.Role, (List<SelectListItem>)ViewBag.RoleValues, new { @class = "form-control" })
                        </div>
                        <button type="submit" class="btn btn-success">Update User Role</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


