@model List<ResultBrandImage>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="container-fluid pt-4 px-4">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <div class="bg-secondary rounded p-4">
                <h6 class="mb-4 text-center">Brand Images Edit Page</h6>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Brand Name</th>
                            <th>Brand Image Path</th>
                            <th>Update</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.BrandName</td>
                                <td><img src="@item.ImagePath" width="50" height="50" style="margin-right:10px" /></td>
                                <td><a class="btn btn-info btn-sm" href="/Admin/AdminBrandImage/UpdateBrandImage/@item.Id">Update</a></td>
                                <td><a class="btn btn-danger btn-sm" href="/Admin/AdminBrandImage/RemoveBrandImage/@item.Id">Remove</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="text-center">
                    <a href="/Admin/AdminBrand/Index/" class="btn btn-success btn-sm">Go Back Brands</a>
                    <a href="/Admin/AdminBrandImage/CreateBrandImage/" class="btn btn-success btn-sm">Create Brand Image</a>
                </div>
            </div>
        </div>
    </div>
</div>



